/* Default tab style */
@media screen and (max-width: 600px) {
    .tabs nav {
        position: relative;
        min-height: 40px;
    }
    .tabs nav ul {
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        border: solid 1px #aaa;
        background: #fff no-repeat 10px 11px;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.3);
    }
    .tabs nav li {
        display: none; /* hide all <li> items */
        margin: 0;
    }

    .tabs nav ul li.tab-current {
        display: block; /* show only current <li> item */
    }
    .tabs nav a {
        display: block;
        padding: 5px 5px 5px 32px;
        text-align: left;
    }
    .tabs nav .current a {
        background: none;
        color: #666;
    }

    /* on nav hover */
    .tabs nav ul:hover {
        background-image: none;
    }
    .tabs nav ul:hover li {
        display: block;
        margin: 0 0 5px;
        width: 100%;
    }
    .tabs nav ul:hover .current {
        background: no-repeat 10px 7px;
    }
    .content-wrap{
        border: 1px solid #aaa;
    }

}

/*@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'stroke7pixeden';
    src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
    src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
        url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
        url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
        url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
}*/

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently                                  not supported by any browser */
}

i {
    min-width: 16px;
    min-height: 16px;
    text-align: center;
}

a {
    text-decoration: none;
}
.sortable-chosen, sortable-chosen.sortable-ghost {
    opacity: 0;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.sortable-ghost {
  opacity: 1;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.color-primary{
    color: #96D8F0;
}
.color-second{
    color: #88C3D9;
}
.color-text{
    color: #90CFE6;
}
.color-disabled{
    color: #385159;
}
.color-shadow{
    color: #78ACBF;
}

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
}

/* Nav */
.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    margin: 0;
    text-align: center;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 0.75em;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
}

/* Icons */
.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
    content: "\e68a";
}
.icon-tools::before {
    content: "\e60a";
}
.icon-plane::before {
    content: "\e625";
}
.icon-joy::before {
    content: "\e6a4";
}
.icon-plug::before {
    content: "\e69a";
}
.icon-home::before {
    content: "\e648";
}
.icon-gift::before {
    content: "\e652";
}
.icon-display::before {
    content: "\e65e";
}
.icon-date::before {
    content: "\e660";
}
.icon-config::before {
    content: "\e666";
}
.icon-coffee::before {
    content: "\e669";
}
.icon-camera::before {
    content: "\e66f";
}
.icon-box::before {
    content: "\e674";
}

/* Content */
.content-wrap {
    position: relative;
}

.content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    text-align: center;
}

.content-wrap section.content-current {
    display: block;
}

.content-wrap section p {
    margin: 0;
    padding: 0.75em 0;
    color: rgba(40,44,42,0.05);
    font-weight: 900;
    font-size: 4em;
    line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
    display: block;
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block;
}

@media screen and (max-width: 58em) {
    .tabs nav a.icon span {
        display: none;
    }
    .tabs nav a:before {
        margin-right: 0;
    }
}
@media screen and (min-width: 601px) {
    .tabs nav ul li {
        display: block;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .tabs nav ul {
        padding: 0;
    }

}

